body { 
    margin: 0;
}

.timer {
	margin: 20%;
    background: grey;
    padding: 10px;
    text-align: center;
}

.counter {
	border: 3px solid #666;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.buttonTrue {
	border: 2px solid blue;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.buttonFalse {
	border: 2px solid red;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}
